table ,th,td{
    border:1px solid green;
}
table{
    width:100%;
      border-collapse: collapse;

}
th,td{
    padding: 10px;
    border:1px solid green;
}
table{
    width:100%;
}
th{
    background-color: aqua;
}